<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my blog</title>
</head>
<link rel="stylesheet" href="../../public/css/main.css">
<body>
    <div class = "wrapper">
        <header>
            <div class="header-img">头部的图片</div>
            <ul class="nav">
                <li>首页</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JAVASCRIPT</li>
                <li>PHP</li>
                <li>JAVA</li>
                <li>EXPRESS</li>
            </ul>
        </header>
        <div class="content">
            <div class="left-content">
                <div class="left-detail"></div>
                <div class="left-detail"></div>
                <div class="left-detail"></div>
            </div>
            <div class="right-content">
                <div class="right-detail">
                    <p>用户基本信息</p>
                    <div class="base-content">
                        <p>admin</p>
                        <p>你好，作为管理员等点击这里</p>
                        <p>退出</p>
                    </div>
                </div>
                <div class="right-detail">
                    <p>登陆</p>
                    <form class="base-content clear">
                        <div>
                            <span>用户名：</span>
                            <input type="text">
                        </div>
                       <div>
                            <span>密码：</span>
                            <input type="text">
                       </div>
                       <div>
                            <button>登陆</button>
                       </div>
                        <div>还没注册？<span>马上注册</span></div>
                    </form>
                </div>
                <div class="right-detail">
                    <p>注册</p>
                    <form class="base-content clear">
                        <div>
                            <span>用户名：</span>
                            <input type="text">
                        </div>
                        <div>
                            <span>密码：</span>
                            <input type="text">
                        </div>
                        <div>
                            <span>确认：</span>
                            <input type="text">
                        </div>
                        <div>
                            <button>注册</button>
                        </div>
                        <div>已有账号？<span>马上登陆</span></div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</body>
</html>